<br />
<div class="container">
    <div class="col-md-3 subnav-list">
        <ul class="">
            <li class="subnav-list-title"><a href="#/trainings"><strong>Trainings</strong></a></li>
            <li><a href="#/trainings"><i class="fa fa-list"></i> Main Trainings Report</a></li>
            <li><a href="#/training/new"><i class="fa fa-plus"></i> Add Training</a></li>
            <li><a href="#/trainings/calendar"><i class="fa fa-calendar-o"></i> Training Calendar</a></li>
            <li><a href="#/trainings/map"><i class="fa fa-map-pin"></i> Training Map</a></li>
        </ul>
    </div>
    <div class="col-md-3 subnav-list">
        <ul class="">
            <li class="subnav-list-title"><a href="#/trainingSessions"><strong>Training Sessions</strong></a></li>
            <li><a href="#/trainingSessions"><i class="fa fa-list"></i> Main Training Sessions Report</a></li>
            <li><a href="#/trainingSession/new"><i class="fa fa-plus"></i>  Add Training Session</a></li>
        </ul>
    </div>
    <div class="col-md-3 subnav-list">
        <ul class="">
            <li class="subnav-list-title"><a href="#/trainingCosts"><strong>Training Costs</strong></a></li>
            <li><a href="#/trainingCosts"><i class="fa fa-list"></i> Main Training Costs Report</a></li>
            <li><a href="#/trainingCost/new"><i class="fa fa-plus"></i>  Add Training Cost</a></li>
        </ul>
    </div>
    <div class="col-md-3 subnav-list">
        <ul class="">
            <li class="subnav-list-title"><a href=""><strong>Other</strong></a></li>
            <li><a href="#/training/attendance"><i class="fa fa-graduation-cap"></i> Attendance</a></li>
            <li><a href="#/training/evaluation"><i class="fa fa-clipboard"></i> Evaluation</a></li>
        </ul>
    </div>
</div>
<hr />