<br />
<div class="container">
    <div class="col-md-3 subnav-list">
        <ul class="">
            <li class="subnav-list-title"><a href="#/surveys"><strong>Surveys</strong></a></li>
            <li><a href="#/surveys"><i class="fa fa-list"></i> Main Surveys Report</a></li>
            <li><a href="#/survey/new"><i class="fa fa-plus"></i> Add New</a></li>
        </ul>
    </div>
    <div class="col-md-3 subnav-list">
        <ul class="">
            <li class="subnav-list-title"><a href="#/respondents"><strong>Respondents</strong></a></li>
            <li><a href="#/respondents"><i class="fa fa-list"></i> Main Respondents Report</a></li>
            <li><a href="#/respondent/new/public"><i class="fa fa-plus"></i> Register New</a></li>
        </ul>
    </div>
    <div class="col-md-3 subnav-list">
        <ul class="">
            <li class="subnav-list-title"><a href="#/questions"><strong>Questions</strong></a></li>
            <li><a href="#/questions"><i class="fa fa-list"></i> Main Questions Report</a></li>
            <li><a href="#/question/new"><i class="fa fa-plus"></i> Add New</a></li>
        </ul>
    </div>
    <div class="col-md-3 subnav-list">
        <ul class="">
            <li class="subnav-list-title"><a href=""><strong></strong></a></li>

        </ul>
    </div>
</div>
<hr />