<br />
<div class="container">
    <div class="col-md-3 subnav-list">
        <ul class="">
            <li class="subnav-list-title"><a href="#/organizations/4w"><strong>4W Organisations</strong></a></li>
            <li><a href="#/organizations/4w"><i class="fa fa-list"></i> Main 4W Organizations Report</a></li>
            <li><a href="#/organization/new/4w"><i class="fa fa-plus"></i> Add New</a></li>
        </ul>
    </div>
    <div class="col-md-3 subnav-list">
        <ul class="">
            <li class="subnav-list-title"><a href="#/4wTrainings"><strong>4W Activities</strong></a></li>
            <li><a href="#/4wTrainings"><i class="fa fa-list"></i> Main 4W Activities Report</a></li>
            <li><a href="#/4wTraining/new"><i class="fa fa-plus"></i> Add New Activity</a></li>
            <li><a href="#/4wTrainings/map"><i class="fa fa-map-pin"></i> 4W Map</a></li>
        </ul>
    </div>
    <div class="col-md-3 subnav-list">
        <ul class="">
            <li class="subnav-list-title"><a href=""><strong></strong></a></li>

        </ul>
    </div>
    <div class="col-md-3 subnav-list">
        <ul class="">
            <li class="subnav-list-title"><a href=""><strong></strong></a></li>


        </ul>
    </div>
</div>
<hr />

<!--<nav class="subnav navbar navbar-inverse slide-in-up" id="nav2">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar2" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
        <div id="navbar2" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#/organizations/4w"><strong><i class="fa fa-calendar-o"></i> DRM 4W Module</strong></a></li>
                <li><a href="#/organizations/4w"><i class="fa fa-list"></i> All 4W Organizations</a></li>
                <li><a href="#/organization/new/4w"><i class="fa fa-plus"></i> Add New</a></li>
                <li><a href="#/4wTrainings"><i class="fa fa-list"></i> All 4W Activities</a></li>
                <li><a href="#/4wTraining/new"><i class="fa fa-plus"></i> Add New Activity</a></li>
                <li><a href="#/4wTrainings/map"><i class="fa fa-map-pin"></i> Map</a></li>
            </ul>
        </div>
    </div>
</nav>
<br />-->