<br />
<div class="container">
    <div class="col-md-3 subnav-list">
        <ul class="">
            <li class="subnav-list-title"><a href=""><strong></strong></a></li>
            <li><a href="#/organizationTypes">Organization Types</a></li>
            <li><a href="#/disabilityTypes">Special Abilities</a></li>
            <li><a href="#/activityTypes">Activity Types</a></li>
        </ul>
    </div>
    <div class="col-md-3 subnav-list">
        <ul class="">
            <li class="subnav-list-title"><a href=""><strong></strong></a></li>
            <li><a href="#/approvedHeads">Approved Heads</a></li>
            <li><a href="#/areas">Areas of Specialty / Intervention</a></li>
            <li><a href="#/academicQualifications">Academic Qualifications</a></li>

        </ul>
    </div>
    <div class="col-md-3 subnav-list">
        <ul class="">
            <li class="subnav-list-title"><a href=""><strong></strong></a></li>
            <li><a href="#/thematicAreas">Thematic Areas</a></li>
            <li><a href="#/documentCategories">Document Categories</a></li>
            <li><a href="#/provinces">Provinces</a></li>

        </ul>
    </div>
    <div class="col-md-3 subnav-list">
        <ul class="">
            <li class="subnav-list-title"><a href=""><strong></strong></a></li>
            <li><a href="#/districts">Districts</a></li>
            <li><a href="#/cities">Cities</a></li>
            <li><a href="#/questions">Questions</a></li>


        </ul>
    </div>
</div>
<hr />

<!--<nav class="subnav navbar navbar-inverse slide-in-up" id="nav2">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar2" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
        <div id="navbar2" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="">User Management</a></li>
                <li><a href="#/organizationTypes">Organization Types</a></li>
                <li><a href="#/disabilityTypes">Special Abilities</a></li>
                <li><a href="#/activityTypes">Activity Types</a></li>
                <li><a href="#/approvedActivities">Approved Activities</a></li>
                <li><a href="#/areas">Areas of Specialty / Intervention</a></li>
                <li><a href="#/academicQualifications">Academic Qualifications</a></li>
                <li><a href="#/thematicAreas">Thematic Areas</a></li>
                <li><a href="#/documentCategories">Document Categories</a></li>
                <li><a href="#/provinces">Provinces</a></li>
                <li><a href="#/districts">Districts</a></li>
                <li><a href="#/cities">Cities</a></li>
                <li><a href="#/questions">Questions</a></li>
            </ul>
        </div>
    </div>
</nav>
<br />-->