<br />
<div class="container">
    <div class="col-md-3 subnav-list">
        <ul class="">
            <li class="subnav-list-title"><a href="#/participant/email"><strong>Email / SMS Participants</strong></a></li>
            <li><a href="#/participant/email">Email Participants</a></li>
            <li><a href="#/participant/sms">SMS Participants</a></li>
            <li><a href="#/messageLogs">Logs</a></li>
        </ul>
    </div>
    <div class="col-md-3 subnav-list">
        <ul class="">
            <li class="subnav-list-title"><a href="#/groups"><strong>Manage Groups</strong></a></li>
            <li><a href="#/groups">Groups</a></li>
            <li><a href="#/group/new">Add Group</a></li>
        </ul>
    </div>
</div>
<hr />