<br />
<hr />


<div class="row">
    <div class="row">
        <div class="col-md-12 module-tile module-tile2">
            <a href="">
                <div class="module-in module-in2 font-montserrat">
                    <h2>Donors and Agencies Reports</h2>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-3 module-tile module-tile2">
        <!--<a data-toggle="collapse" href="#cE101" aria-expanded="false" aria-controls="cE5">-->
        <div class="module-in module-in2 font-montserrat">
            <ul class="">
                <li><a href="#/report/30">Donors & Collaborating Agencies with Project Briefs</a></li>
                <li><a href="#/report/31">Reconciliation of Fundings and Costs</a></li>

            </ul>
        </div>
    </div>

    <div class="col-md-3 module-tile module-tile2">
        <div class="module-in module-in2 font-montserrat">
            <ul class="">
                <li><a href="#/organizations">All Donors & Collaborating Agencies</a></li>
                <li><a href="#/projects">All Donor Projects</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-3 module-tile module-tile2">
        <div class="module-in module-in2 font-montserrat">
            <ul class="">
                <li><a href="#/fundings">All Activity Fundings</a></li>
                <li><a href="#/activities">All Activities</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-3 module-tile module-tile2">
        <a href="#/albums">
            <div class="module-in module-in2 font-montserrat">
                <ul class="">
                    <li><a href="#/activityCosts">All Activity Costs</a></li>

                </ul>
            </div>
        </a>
    </div>
</div>