<br />
<hr />

<div class="row">
    <div class="row">
        <div class="col-md-12 module-tile module-tile2">
            <a href="">
                <div class="module-in module-in2 font-montserrat">
                    <h2>Participants Reports</h2>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-3 module-tile module-tile2">
        <!--<a data-toggle="collapse" href="#cE101" aria-expanded="false" aria-controls="cE5">-->
        <div class="module-in module-in2 font-montserrat">
            <ul class="">
                <li><a href="#/participants">Main Participants Report</a></li>
                <li><a href="#/report/20">Gender & Disability Report By Year</a></li>
                <li><a href="#/report/203">Sector-wise Participant Report</a></li>
                <li><a href="#/report/21">Province Report By Year</a></li>
            </ul>
        </div>
    </div>

    <div class="col-md-3 module-tile module-tile2">
        <div class="module-in module-in2 font-montserrat">
            <ul class="">
                <li><a href="#/report/210">Age Group Report By Year</a></li>
                <li><a href="#/report/22">Participants and No. of Trainings By Province</a></li>
                <li><a href="#/report/23">Male-Female By Department</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-3 module-tile module-tile2">
        <div class="module-in module-in2 font-montserrat">
            <ul class="">
                <li><a href="#/report/24">Participant Segregation</a></li>
                <li><a href="#/report/25">Participants who did not attend</a></li>
                <li><a href="#/report/26">Participant Trend: Cross Broader Training Area</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-3 module-tile module-tile2">
        <div class="module-in module-in2 font-montserrat">
            <ul class="">
                <li><a href="#/report/27">Participant Trend: Cross Geographical Location</a></li>
                <li><a href="#/report/28">Participant Trend: Cross Sector</a></li>
                <li><a href="#/report/29">Participant Trend: Cross Department</a></li>

            </ul>
        </div>
    </div>
</div>