<section class="mainbar" data-ng-controller="albumDetails as vm">
    <section class="matter">
        <div class="container-fluid">
            <div data-ng-if="!vm.public" data-ng-include="'app/templates/nav-gallery.html'" />
            <div class="widget wgreen">
                <div class="btn-group pull-right">
                    <a class="btn btn-info"
                       data-ng-click="vm.goBack()">
                        <i class="fa fa-hand-o-left"></i> Back
                    </a>
                </div>
                <div data-cc-widget-header title="{{vm.title}}{{vm.entity.name}}"></div>
                <div class="widget-content">
                    <dl class="dl-horizontal">
                        <dt>Gallery</dt>
                        <dd>{{vm.entity.albumType}}</dd>
                        <dt>Description</dt>
                        <dd>{{vm.entity.description}}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </section>
    <br />
    <section>
        <div data-ng-repeat="items in vm.mediaFiles" class="row">
            <div data-ng-repeat="item in items" class="col-md-3 col-sm-3 text-center">
                
                <a data-ng-if="item.fileType==='Image'" data-ng-href="{{vm.albumUrl}}{{item.name}}" title="{{item.description}}" data-gallery>
                    <img data-ng-src="{{vm.albumUrl}}thumbnails/{{item.name}}" class="img-autosize" 
                         onerror="if (this.src != 'Content/img/icon-file.png') this.src = 'Content/img/icon-file.png';"/>
                    <p>{{item.description}}</p>
                </a>

                <a data-ng-if="item.fileType==='Video'" data-ng-href="{{vm.albumUrl}}{{item.name}}" title="{{item.description}}" target="_blank">
                    <img data-ng-if="item.fileType==='Video'" src="Content/img/icon-video.png" class="img-autosize" />
                    <p>{{item.description}}</p>
                </a>

            </div>
        </div>
        <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
        <div id="blueimp-gallery" class="blueimp-gallery" data-use-bootstrap-modal="false">
            <!-- The container for the modal slides -->
            <div class="slides"></div>
            <!-- Controls for the borderless lightbox -->
            <h3 class="title" style="background-color:transparent;"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="close">×</a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
            <!-- The modal dialog, which will be used to wrap the lightbox content -->
            <div class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" aria-hidden="true">&times;</button>
                            <h4 class="modal-title"></h4>
                        </div>
                        <div class="modal-body next"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left prev">
                                <i class="glyphicon glyphicon-chevron-left"></i>
                                Previous
                            </button>
                            <button type="button" class="btn btn-primary next">
                                Next
                                <i class="glyphicon glyphicon-chevron-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
