@{
    ViewBag.Title = "Chairman's Message";
}

<div class="row font-open para">

    <div class="media">
        <div class="media-left"> <a href="#"><img class="media-object img-circle" src="~/assets/img/chairman.jpg" width="101" height="101"> </a> </div>
        <div class="media-body">
            <h4 class="media-heading"><strong></strong></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec ex cursus, bibendum urna vel, fermentum mauris. Pellentesque quis nulla ligula. Nunc tempus id mi eu pulvinar. Fusce efficitur metus eget sem dapibus auctor id vel urna. Phasellus venenatis sagittis enim a efficitur. Aliquam ut pretium velit, a tincidunt sem. Duis sapien lorem, condimentum quis convallis sed, rutrum ullamcorper libero. Proin fermentum sem eu diam scelerisque feugiat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla dapibus nunc ligula, nec ultrices leo tempus quis. Cras porttitor rhoncus turpis et facilisis. Nam in cursus diam. Vivamus sit amet risus eleifend, auctor libero nec, pulvinar magna. Donec nec odio aliquam, faucibus felis in, posuere augue.                   </p>
            <p> Aliquam egestas, nibh nec convallis bibendum, diam diam tincidunt elit, tincidunt sagittis elit augue ac turpis. Nunc nisl tortor, sagittis pretium luctus et, congue quis dolor. Sed blandit dolor ut ligula rutrum mollis. Vestibulum suscipit consectetur arcu eget venenatis. Phasellus at pulvinar odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec tempus varius augue in pharetra.</p>
            <p> Ut et velit nisl. In aliquet sed nisl nec varius. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean aliquet, mi quis pellentesque malesuada, augue purus hendrerit nisl, quis commodo odio diam in felis. Fusce in ex at purus porttitor convallis. Pellentesque sagittis ligula nec est vehicula, ac efficitur augue faucibus. Ut sit amet nunc quis risus viverra porta et ut augue. Donec tortor mauris, feugiat ac molestie eu, lacinia quis nunc. Donec rhoncus massa magna, nec vehicula dui sagittis id. In molestie turpis vitae orci feugiat porta. Donec iaculis vulputate tortor in commodo. Pellentesque egestas nibh a purus malesuada, ut dictum odio commodo. Aenean turpis mi, pulvinar fermentum libero quis, venenatis viverra elit. </p>
        </div>
    </div>

</div>

