@{
    ViewBag.Title = "NIDM At a Glance";
}
<div class="row font-open para">
    <p>NIDM is a premier institute of training and capacity development programs for managing natural and human-induced disasters occurring in Pakistan. </p>
</div>

