@{
    ViewBag.Title = "Joint Initiatives";
}

<div class="row font-open para">

    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="~/assets/img/helpage_logo.png" alt="...">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading text-capitalize">NIDM - HelpAge International, Training of Trainers on CBDRM at Jacobabad (Sindh): November 2014</h4>
            <p>
                National Institute of Disaster Management (NIDM) and HelpAge International co-organized a Training of Trainers on CBDRM from 17-21 November 2014 at Jacobabad (Sindh). Twenty seven (27) Master Trainers, including women and a special person, from district government Jacobabad, district government Jhal Magsi (Balochistan), Helpage project staff and community representatives were trained.
            </p>
            <p>
                The training consisted of a number of participants lead sessions along with interactive sessions facilitated by resource persons. The group of trainees was also taken out for an exposure visit to village “Hussain Bakhsh Barohi” so that they may interact with the Village Disaster Management Committee (VDMC) formed under HelpAge project there. The VDMC executive body and members including women and special persons shared their learning and preparedness planning with the participants.
            </p>
            <p>
                16 x Community Based trainings will be conducted by currently trained Master Trainers-MTs in 16 villages with support of community facilitators in the coming months.
            </p>
            <p>
                HelpAge International in partnership with Sindh Rural Support organization is implementing a Cordaid funded project “Disaster Resilience through Inclusive DRR and Climate Change Planning” in nine Union Councils of District Jacobabad.
            </p>
        </div>
    </div>
    <br />
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="~/assets/img/un.png" alt="...">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading text-capitalize">
                NIDM – UN (Capacity Building Programme): October – December 2014

            </h4>
            <p>
                NIDM and United Nations (Coordinated by UNOCHA) has planned a series of four regional trainings under the Capacity Building Programme (CBP) to be held at Quetta, Lahore, Gilgit and Peshawar. Officers from various provincial ministries, District Disaster Management Authorities (DDMAs) and line departments will participate in the trainings. Current phase of CBP will be completed in December, 2014.
            </p>

        </div>
    </div>
    <br />
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="~/assets/img/eu_union.png" alt="...">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading text-capitalize">NIDM – DIPECHO Partner 7th Action (CBDRM ToT): September 2014</h4>
            <p>NIDM in collaboration with DIPECHO Partner 7th Action facilitated a five days Training of Trainer (ToT) on Community Based Disaster Risk Management (CBDRM) for the government officers from the selected districts of Sindh and KP provinces. The training took place at Islamabad from 8 – 12 September, 2014. NIDM took lead in organizing and facilitating the activity. Representatives of the country teams of various DIPECHO partner organizations including Save the Children, Care International, Malteser Internationl joined the process.</p>

        </div>
    </div>
    <br />
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="~/assets/img/iom.png" alt="...">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading text-capitalize">IOM – NIDM (CCCM Training – KP): March – May 2014</h4>
            <p>NIDM and international Organization for Migration (IOM), in collaboration with Provincial Disaster Management Authority (PDMA) KP organized five trainings on Camp Coordination and Camp Management (CCCM) in 2014. Officers from the DDMAs of Peshawar, Bannu, Lakki Marwat, and Kohat were trained in CCCM. The series of trainings included one Training of Trainers (ToT) held at Peshawar training fourteen (14) master trainers of CCCM. The master trainers trained will further pursue the CCCM agenda in the province.</p>

        </div>
    </div>

</div>

