@{
    ViewBag.Title = "Mission";
}

            <div class="row font-open para">
                <p>To plan and promote training and research in the field of
disaster management, develop core competencies of government
officials and develop national level information base
relating to disaster management policies, prevention mechanism
and mitigation measures.</p>
            </div>

