@{
    ViewBag.Title = "Objectives";
}

<div class="row font-open para">
    <p><i class="fa fa-circle"></i> To develop curriculum on various facets of disaster management;</p>
    <p>
        <i class="fa fa-circle"></i> To undertake training, research and other related activities on disaster management;
    </p>
    <p>
        <i class="fa fa-circle"></i> To develop linkages and build partnerships with national and international academic institutions;
    </p>
    <p>
        <i class="fa fa-circle"></i> To develop network of disaster management professionals and master trainers working in various disciplines in the country and abroad;
    </p>
    <p>
        <i class="fa fa-circle"></i> Publish newsletters, books, research journals, and audiovisuals to raise disaster risk awareness among general public;
    </p>
    <p>
        <i class="fa fa-circle"></i> Liaison with the NIDM and NDMA alumni and engage them in different activities i.e. trainings, workshop and technical assistance;
    </p>
    <p>
        <i class="fa fa-circle"></i> Establish and maintain database on disasters in the country and give regular updates through NIDM website;

    </p>
</div>

