@{
    ViewBag.Title = "Register Your Organisation";
}

<div class="row font-open para">
    <p>To register your organisation, please fill in the following form. We will then get back to you after we have reviewed the form. </p>
</div>

