@{
    ViewBag.Title = "Scope of Activities";
}

            <div class="row font-open para">
                <p><i class="fa fa-circle"></i> Training and capacity building through workshops, seminars, mock drills and simulation.</p>
                <p>
                    <i class="fa fa-circle"></i> Academic activities including short courses, diploma courses and later on degree courses.
                </p>
                <p>
                    <i class="fa fa-circle"></i> Disaster Information Resource Centre (DIRC).
                </p>
                <p>
                    <i class="fa fa-circle"></i> Mass awareness through exhibitions and festivals.
                </p>
                <p>
                    <i class="fa fa-circle"></i> Research and development: Research studies on disaster-related areas will be conducted to assist legislators and policy makers for informed planning and decision-making on Disaster Risk Management. The research component will, for the sake of quality, ensure that academic partnerships with national and international organizations are developed. Similarly, operational modalities such as engaging organizations or hiring consultants for undertaking research studies will be worked out.
                </p>
            </div>
