@{
    ViewBag.Title = "Mapping Stakeholder Trainings";
}
<div class="row font-open para">
    <iframe src="~/public.html#/4wTrainings/map/public" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

