@{
    ViewBag.Title = "Submit Your Training";
}

<div class="row font-open para">
    <p>To submit your training, please login below using the credentials you or your organisation have received.</p>
    <p>
        <div class="row">
            <div class="col-md-4">
                <form>
                    <div class="form-group font-open">
                        <label for="exampleInputUsername">Username</label>
                        <input type="email" class="form-control" id="exampleInputUsername" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-default">Login</button>
                </form>
            </div>
            <div class="col-md-8"></div>
        </div>
    </p>
</div>
