@{
    ViewBag.Title = "Our Team";
}

<div class="row font-open para">
    <div class="media">
        <div class="media-left"> <a href="#"> <img class="media-object" src="~/assets/img/chairman.jpg" width="100" height="100"> </a> </div>
        <div class="media-body">
            <h4 class="media-heading">
                <strong>Maj. Gen. Asghar Nawaz</strong><br />
                <strong><em>Chairman</em></strong><br />
                NDMA Pakistan
            </h4>
            <p></p>
        </div>
    </div>
    <br />
    <div class="media">
        <div class="media-left"> <a href="#"> <img class="media-object" src="~/assets/img/sajid_naeem.jpg" width="100" height="100"> </a> </div>
        <div class="media-body">
            <h4 class="media-heading">
                <strong>Brig. (R) Sajid Naeem</strong><br />
                <strong><em>Senior Capacity Building Specialist</em></strong><br />
                sicbs@ndma.gov.pk
            </h4>
            <p></p>
        </div>
    </div>
    <br />
    <div class="media">
        <div class="media-left"> <a href="#"> <img class="media-object" src="~/assets/img/waseem_ahmed.jpg" width="100" height="100"> </a> </div>
        <div class="media-body">
            <h4 class="media-heading">
                <strong>Mr. Waseem Ahmed</strong><br />
                <strong><em>Capacity Building Specialist</em></strong><br />
                cbs@ndma.gov.pk
            </h4>
            <p></p>
        </div>
    </div>
    <br />
    <div class="media">
        <div class="media-left"> <a href="#"> <img class="media-object" src="~/assets/img/bushra_hassaan.jpg" width="100" height="100"> </a> </div>
        <div class="media-body">
            <h4 class="media-heading">
                <strong>Ms. Bushra Hassaan</strong><br />
                <strong><em>Assistant Director</em></strong><br />
                adnidm@ndma.gov.pk
            </h4>
            <p></p>
        </div>
    </div>
    <br />
    <div class="media">
        <div class="media-left"> <a href="#"> <img class="media-object" src="~/assets/img/kazim_razzaq.jpg" width="100" height="100"> </a> </div>
        <div class="media-body">
            <h4 class="media-heading">
                <strong>Mr. Kazim Razzaq</strong><br />
                <strong><em>Dy. Assistant Director</em></strong><br />
                ta1@ndma.gov.pk
            </h4>
            <p></p>
        </div>
    </div>
    <br />
    <div class="media">
        <div class="media-left"> <a href="#"> <img class="media-object" src="~/assets/img/sana_javed.jpg" width="100" height="100"> </a> </div>
        <div class="media-body">
            <h4 class="media-heading">
                <strong>Ms. Sana Javed</strong><br />
                <strong><em>Dy. Assistant Director</em></strong><br />
                ta2@ndma.gov.pk
            </h4>
            <p></p>
        </div>
    </div>
</div>