@{
    ViewBag.Title = "Vision";
}

<div class="row font-open para">
    <p>
        Promote a culture of safety through action
        oriented knowledge and create awareness on
        Disaster Risk Management.
    </p>
</div>

