<section class="mainbar" data-ng-controller="resourcePersonTraining as vm">
    <section class="matter">
        <div class="container-fluid">
            <div data-ng-include="'app/templates/nav-resource-person.html'" />
            <div data-ng-include="'app/templates/form-buttons.html'" />
            <div class="widget wgreen">
                <div data-cc-widget-header title="{{vm.title}}"></div>
                <div class="widget-content user">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="ResourcePerson" class="col-md-2 control-label">Resource Person</label>
                            <div class="col-md-10">
                                <select id="ResourcePerson" data-ng-options="i.name for i in vm.resourcePersons"
                                        data-ng-model="vm.entity.resourcePerson"
                                        class="form-control" data-z-validate></select>
                            </div>
                        </div>

                        <!--<div class="form-group">
                            <label for="Training" class="col-md-2 control-label">Training</label>
                            <div class="col-md-10">
                                <select id="Training" data-ng-options="i.name for i in vm.trainings"
                                        data-ng-model="vm.training" data-ng-change="vm.trainingChanged()"
                                        class="form-control" data-z-validate></select>
                            </div>
                        </div>-->

                        <div class="form-group">
                            <label for="TrainingSession" class="col-md-2 control-label">Training Session</label>
                            <div class="col-md-10">
                                <select id="TrainingSession" data-ng-options="i.name for i in vm.trainingSessions"
                                        data-ng-model="vm.entity.trainingSession"
                                        class="form-control" data-z-validate></select>
                            </div>
                        </div>

                        <!-- Checkbox again -->
                        <div class="form-group">
                            <label for="IsPaid" class="col-md-2 control-label">Is Paid?</label>
                            <div class="col-md-10">
                                <input type="checkbox" id="IsPaid" data-ng-model="vm.entity.isPaid"
                                       placeholder="Is Paid?" data-ng-change="vm.entity.amountPaid=0" data-z-validate />
                            </div>
                        </div>

                        <div class="form-group" data-ng-if="vm.entity.isPaid">
                            <label for="AmountPaid" class="col-md-2 control-label">Amount Paid</label>
                            <div class="col-md-10">
                                <input id="AmountPaid" data-ng-model="vm.entity.amountPaid"
                                       placeholder="Amount Paid" class="form-control" data-z-validate />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div data-ng-include="'app/templates/form-buttons.html'" />
            <div data-ng-include="'app/templates/reports-resource-person.html'" />
        </div>
    </section>
</section>
