<section class="mainbar" data-ng-controller="participantDetail as vm">
    <section class="matter">
        <div class="container-fluid">
            <div ng-if="!vm.public" data-ng-include="'app/templates/nav-participant.html'" />   
            <div data-ng-if="!vm.public" data-ng-include="'app/templates/print-logos.html'" />
            <div class="widget wgreen">
                <div class="btn-group pull-right">
                    <a class="btn btn-info" href="javascript:window.print();">
                        <i class="fa fa-print"></i> Print
                    </a>&nbsp; &nbsp;
                    <a class="btn btn-info"
                       data-ng-click="vm.goBack()">
                        <i class="fa fa-hand-o-left"></i> Back
                    </a>
                </div>
                <div data-cc-widget-header title="{{vm.title}}"></div>                
                <div class="widget-content" data-ng-if="vm.entity">
                    <br />
                    <dl class="dl-horizontal">
                        <dt>Training</dt>
                        <dd>{{vm.entity.training.name}}</dd>
                        <dt>Title</dt>
                        <dd>{{vm.entity.title.name}}</dd>
                        <dt>Name</dt>
                        <dd>{{vm.entity.name}}</dd>
                        <dt>CNIC</dt>
                        <dd>{{vm.entity.cNIC}}</dd>
                        <dt>Gender</dt>
                        <dd>{{vm.entity.gender}}</dd>
                        <dt>Date of Birth</dt>
                        <dd>{{vm.entity.dateOfBirth | date: 'dd MMM yyyy'}}</dd>
                        <dt>Special Ability?</dt>
                        <dd>{{vm.entity.hasSpecialAbility | yesNo}}</dd>
                        <dt data-ng-if="vm.entity.hasSpecialAbility">Special Abilities</dt>
                        <dd data-ng-if="vm.entity.hasSpecialAbility">
                            <label style="display:block" data-ng-repeat="d in vm.disabilityTypes">
                                <input type="checkbox" data-checklist-model="vm.disabilityTypesSelected"
                                       data-checklist-value="d.disabilityTypeId" disabled>
                                {{d.name}}
                            </label>
                        </dd>
                        <dt>Organization Type</dt>
                        <dd>{{vm.entity.organizationType.name}}</dd>
                        <dt>Organization</dt>
                        <dd>{{vm.entity.organization.name}}</dd>
                        <dt>Other Organization / Department</dt>
                        <dd>{{vm.entity.otherOrganization}}</dd>
                        <dt>Designation</dt>
                        <dd>{{vm.entity.designation}}</dd>
                        <dt>BPS Grade</dt>
                        <dd>{{vm.entity.bPSNo}}</dd>
                        <dt>Years Of Experience</dt>
                        <dd>{{vm.entity.yearsOfExperience}}</dd>
                        <dt>Academic Qualification</dt>
                        <dd>{{vm.entity.academicQualification.name}}</dd>
                        <dt>Province</dt>
                        <dd>{{vm.entity.district.province.name}}</dd>
                        <dt>District</dt>
                        <dd>{{vm.entity.district.name}}</dd>
                        <dt>Official Address</dt>
                        <dd>{{vm.entity.officialAddress}}</dd>
                        <dt>Residential Address</dt>
                        <dd>{{vm.entity.residentialAddress}}</dd>
                        <dt>Phone With Extension</dt>
                        <dd>{{vm.entity.phoneWithExt}}</dd>
                        <dt>Fax</dt>
                        <dd>{{vm.entity.fax}}</dd>
                        <dt>Mobile</dt>
                        <dd>{{vm.entity.mobile}}</dd>
                        <dt>Email</dt>
                        <dd>{{vm.entity.email}}</dd>
                        <dt>Skype</dt>
                        <dd>{{vm.entity.skype}}</dd>
                        <dt>Any Previous Training Attended</dt>
                        <dd>{{vm.entity.anyPreviousTrainingAttended}}</dd>
                        <dt data-ng-if="vm.entity.anyPreviousTrainingAttended">Previous Trainings</dt>
                        <dd data-ng-if="vm.entity.anyPreviousTrainingAttended">{{vm.entity.previousTrainings}}</dd>
                        <dt>Amount Paid</dt>
                        <dd>{{vm.entity.amountPaid}}</dd>
                        <dt>Payment Proof Document</dt>
                        <dd>
                            <a data-ng-if="vm.entity.paymentProofDocument" target="_blank" data-ng-href="{{vm.paymentProofDocumentUrl}}{{vm.entity.paymentProofDocument}}">
                                <img data-ng-src="{{vm.getFileIcon(vm.entity.paymentProofDocument)}}" title="Payment Proof Document" onerror="if (this.src != 'Content/img/icon-file.png') this.src = 'Content/img/icon-file.png';" />
                                {{vm.entity.paymentProofDocument}}
                            </a>
                        </dd>
                        <dt>Approval Status</dt>
                        <dd>{{vm.entity.approvalType.name}}</dd>
                    </dl>
                </div>
            </div>
            <div data-ng-include="'app/templates/reports-participant.html'" />
            <div data-ng-if="!vm.public" data-ng-include="'app/templates/print-signature.html'" />
        </div>
    </section>
</section>
